.hero {
  height: 100vh;
  background: url("/fondo.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-content {
  background: rgba(255, 255, 255, 0.25); /* semitransparente */
  backdrop-filter: blur(10px);           /* efecto glass */
  padding: 40px 60px;
  border-radius: 12px;
  text-align: center;
  color: #111;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 20px;
  color: #222;
}
.shop-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 40px;
  background-color:  rgba(255, 0, 0, 0.582);
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px  rgba(255, 0, 0, 0.418);
}

.shop-button:hover {
  background-color:  rgb(255, 0, 0);
  transform: translateY(-3px);
  box-shadow: 0 6px 20px  rgb(255, 0, 0);
}

.shop-button:active {
  transform: translateY(-1px);
}