.app {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Hero con fondo */
.hero {
  height: 100vh;
  background: url("/public/fondo.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Caja con el texto */
.hero-content {
  background: rgba(255, 255, 255, 0.4); /* fondo semitransparente */
  backdrop-filter: blur(10px); /* efecto glass */
  padding: 40px 60px;
  border-radius: 12px;
  text-align: center;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: bold;
  color: #111;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
